$spacer: 1rem;
$blue: #007db8;
$white: #fff;
$component-active-bg: #0A3055FF !default;
$component-active-color: $white !default;
$rounded-pill: 50rem  !default;

@import './Menu/menu.scss';
@import './studio-header/StudioHeader.scss';

.dropdown-item a {
  text-decoration: none;
}

.icon-button {
  display: inline-flex;
  line-height: 3rem;
  background: transparent;
  vertical-align: middle;
  text-align: center;
  border: none;
  height: 3rem;
  width: 3rem;
  padding: .75rem;
  justify-content: center;
  align-items:center;

  &:hover, &:focus {
    background: rgba(0, 0, 0, .1);
  }
}

.learning-header {
  min-width: 0;
  background-color:#00B2AB !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .course-title-lockup {
    min-width: 0;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: calc(var(--pgn-spacing-spacer-base, $spacer)* 0.1);
    }
  }

  .user-dropdown .btn {
    height: 3rem;
  }
}

.site-header-mobile,
.site-header-desktop {
  position: relative;
  z-index: 1000;
  background-color:#00B2AB !important;
}

.site-header-mobile {
  height: 3rem;

  .nav-link {
    text-decoration: none;
    cursor: pointer;
  }

  img {
    height: 1.5rem;
  }
}


.site-header-desktop {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
  background: var(--pgn-color-white, $white);

  .nav-link {
    text-decoration: none;
  }

  .logo {
    display: block;
    box-sizing: content-box;
    position: relative;
    padding: var(--pgn-spacing-spacer-base, $spacer) 0;
    margin-right: var(--pgn-spacing-spacer-base, $spacer);

    img {
      display: block;
      height: 100%;
    }
  }
  .secondary-menu-container {
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .expanded .nav-link {
      background: var(--pgn-color-bg-active, $component-active-bg);
      color: var(--pgn-color-active, $component-active-color);
    }
  }
  .main-nav {
    .nav-link {
      padding: 1.125rem var(--pgn-spacing-spacer-base, $spacer);
      text-decoration: none;
      font-weight: 500;
      letter-spacing: .01em;
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .expanded .nav-link {
      background: var(--pgn-color-bg-active, $component-active-bg);
      color: var(--pgn-color-active, $component-active-color);
    }

    .menu {
      position: static;

      .menu-content {
        border-top: solid 2px var(--pgn-color-bg-active);
        left: 0;
        right: 0;
        box-shadow: var(--pgn-elevation-box-shadow-down-1, 0 1px 2px rgba(0,0,0,.25));
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: var(--pgn-spacing-spacer-base, $spacer);
      }
    }
  }

  .search-input {
    border-radius: var(--pgn-size-rounded-pill, $rounded-pill);
  }
}


// custom styles

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1440px !important;
  }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1440px !important;
}

.site-header-desktop .logo {
  height: 73px !important;
  padding: 10px !important;
}

.site-header-desktop .main-nav .nav-link , .main-menu .nav-link {
  color:#FFFFFF !important;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 144%;
  margin-left: 48px;
}

.site-header-desktop .main-nav .nav-link:hover, .main-menu .nav-link:hover {
  background:none !important;
  border: none;
  text-decoration: none;
}

.container-fluid.null {
  max-width: 1440px !important;
}

#root header .logo img {
  height: 73px !important;
}

.menu-trigger.btn.btn-outline-primary {
  border-radius: 46px !important;
  background:#ffffff !important;
  color: #000000 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.menu-trigger.btn.btn-outline-primary:hover {
 background: none !important;
}


#root header .logo {
  top: unset !important;
  height: unset !important;
}

.header-container {
    justify-content: space-between;
}

.btn-outline-primary{
  border: none !important;
  border-radius: 0px !important;
  background: white !important;
}
